<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Angular</title>
  </head>
  <body>
    <h1 class="heading">Angular Day 1</h1>
    <hr />
    <h2>Components</h2>
    <!-- header & footer commented because inline template and stylesheet used in body; head, foot mapped in body component -->
    <!-- <app-header></app-header> -->
    <app-body></app-body>
    <!-- <app-footer></app-footer> -->
    <hr />
    <h2>Data Binding</h2>
    <app-binding></app-binding>
    <hr />
    <h2>Communication b/w Components</h2>
    <hr />
    <h2>Directives</h2>
    <app-directive></app-directive>
    <!-- <app-book-store></app-book-store> -->
    <hr />
    <h2>Pipes</h2>
    <hr />
    <h2>Services</h2>
    <hr />
    <h2>Pipes & Services Activity</h2>
    <app-book-store></app-book-store>
    <hr />
    <h2>Router</h2>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <hr />
    <h2>28 OCT Activity</h2>
    <app-todo></app-todo>
  </body>
</html>
